.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.frame {
  flex-grow: 1;
  display: block;
  width: 100%;
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

.selection-box-info {
  margin-bottom: 16px;
}
